<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C2A790">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" th:href="@{/}">CoffeeBean</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    	<li class="nav-item"><a class="nav-link" aria-current="page" th:if="${isadmin}==true" th:href="@{/admin}">Admin</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/}">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/products/beans}">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/account}">Account Info</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" th:href="@{/users/signup}" th:if="${user}==null">Sign up</a></li>
                                <li><a class="dropdown-item" th:if="${user} == null" th:href="@{/users/login}">Sign in</a></li>
                                <li><a class="dropdown-item" th:href="@{/users/logout}">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a class="btn btn-outline-dark" th:href="@{/products/cart}" >
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill" th:if="${user} != null" th:text="${user.getCart().getProducts().size()}">0</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        
         <header class="bg-dark py-5">
            <div class="container px-5">
            	<div th:if="${param.success}" class="alert alert-success w-50 mx-auto text-center alert-dismissible fade show">
        		You are registered successfully!
        		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        		</div>
        		
        		<div th:if="${param.loggedin}" class="alert alert-success w-50 mx-auto text-center alert-dismissible fade show">
        		You have logged in successfully!
        		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        		</div>
        		
        		<div th:if="${param.loggedout}" class="alert alert-warning w-50 mx-auto text-center alert-dismissible fade show">
        		You have logged out successfully!
        		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        		</div>
        		
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h3 class="display-5 fw-bolder text-white mb-2">Hi <span th:if="${user} != null" th:text="${user.getUsername}"></span>! Welcome To CoffeeBean</h3>
                            <p class="lead text-white-50 mb-4">The one stop shop for the highest quality coffee that you can find. We provide a large variety of coffee that will definitely suit your taste</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" th:if="${user}==null" th:href="@{/users/signup}">Get Started</a>
                                <a class="btn btn-outline-light btn-lg px-4" th:href="@{products/beans}">Begin Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Largest Variety</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Most Affordable Prices</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Highest Quality Beans</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none" href="#!">
                            Call to action
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        
  		<!-- Footer-->
        <!-- <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer> -->
  	
  	
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>